main {
  flex-grow: 1;
  height: 100vh;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
main .head {
  background-color: #e7e7e7;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
}
main .head img {
  margin-right: 10px;
}
main .head h3 {
  font-weight: 500;
}
main .messages {
  background: radial-gradient(#c5d4e88e, #81818146),
    url(https://plantill.com/images/pattern-05.png);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  overflow-y: scroll;
}
main .messages .message {
  margin-top: 10px;
}
main .messages .message p {
  border-radius: 5px;
  width: fit-content;
  background-color: #6b19ff;
  padding: 5px 10px;
  font-size: 16px;
  position: relative;
  z-index: 1;
  color: white;
}
main .messages .message span {
  font-size: 10px;
  color: #5c5c5c;
  margin-top: 2px;
  display: block;
}
main .messages .right {
  text-align: right;
}
main .messages .right p {
  margin-left: auto;
}
main .messages .right span {
  padding-right: 8px;
}
main .messages .right p::after {
  content: "";
  border-style: solid;
  border-width: 0 10px 8px 10px;
  border-color: transparent transparent #6b19ff transparent;
  position: absolute;
  top: 100%;
  right: -6px;
  transform: translateY(-50%) rotate(-90deg);
  z-index: 0;
}
main .messages .left p::after {
  content: "";
  border-style: solid;
  border-width: 0 10px 8px 10px;
  border-color: transparent transparent #6b19ff transparent;
  position: absolute;
  top: 0;
  left: -6px;
  transform: translateY(-50%) rotate(90deg);
  z-index: 0;
}
main #message {
  background-color: #e7e7e7;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
}
main #message input[type="text"] {
  display: block;
  padding: 8px;
  border: 1px solid #6b19ff;
  border-radius: 5px;
  flex-grow: 1;
  margin-right: 20px;
}
main #message i {
  margin: 0 10px;
  color: #6b19ff;
  font-size: 14px;
}
main #message > button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.endchat {
  margin-left: auto;
  padding: 8px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(32, 32, 119);
}
main {
  position: relative;
}
.end-modal {
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: absolute;
  top: -100%;
  left: 0;
  background-color: #000000be;
  transition: 0.3s;
}
.end-modal .stars {
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: white;
  transform: translate(-50%, -50%);
  padding: 25px 35px;
  border-radius: 5px;
}
.end-modal .stars i {
  font-size: 26px;
}
.end-modal .stars .btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
.end-modal .stars button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: white;
}
.end-modal .stars button:first-child {
  background-color: red;
}
.end-modal .stars button:last-child {
  background-color: #6b19ff;
}
.media-modal{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333e8;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.media-modal .modal-content{
  width: 400px;
  background-color: white;
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%,-50%);
  padding: 15px;
  border-radius: 5px;
}
.media-modal .modal-content .modal-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid silver;
  padding-bottom: 8px;
}
.files{
  display: flex;
  flex-wrap: wrap;
}
.input-file{
  display: inline-block;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.input-file input{
  display: none;
}
.input-file label{
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid black;
  display: inline-block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  background-color: silver;
  color: white;
}
.files .file{
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}
.files .file img, .files .file video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal-content button{
  margin-left: auto;
  display: block;
  padding: 10px 18px;
  background-color: #6b19ff;
  color: white;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
.messages img, .messages video{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.MediaViewer{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333333e7;
  z-index: 1000;
  width: 100%;
  height: 100%;
}
.viewer-content{
  position: relative;
  width: 50%;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80%;
  overflow: scroll;
}
.viewer-content img, .viewer-content video{
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 100%;
  display: block;
  max-width: 100%;
}
.viewer-content button{
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(143, 4, 4);
  color: white;
}
.category{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.category button{
  width: 48%;
  padding: 5px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.category button.active{
  background-color: green;
}
.chatisend_p{
  background-color: #333;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin-top: 8px;
}