@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
nav {
  width: 250px;
  height: 100vh;
  float: left;
  background: linear-gradient(-40deg, #ad82fb, #657dcf);
  padding: 10px;
}
nav .head {
  width: 100%;
  padding: 8px 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 0 5px silver;
}
nav .head .pp {
  font-size: 12px;
  width: 30px;
  height: 30px;
  line-height: 26px;
  text-align: center;
  border: 2px solid #6b19ff;
  border-radius: 100%;
}
nav .head h2 {
  font-size: 20px;
  font-weight: 500;
}
nav h4 {
  margin-top: 20px;
}
nav .search {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: none;
  margin-top: 8px;
}
.chats {
  margin-top: 20px;
}
.chats li {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 10px #999;
  background-color: white;
  padding: 15px;
  margin-bottom: 12px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}
.chats li.unread::after {
  content: "";
  position: absolute;
  right: 15px;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 100%;
  top: 50%;
  transform: translateY(-50%);
}
.chats li.notaccept {
  background-color: red;
}
.chats li:hover {
  box-shadow: 0 3px 10px #444;
  transform: translateY(-2px);
}
.chats li img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
  pointer-events: none;
}
.chats li h3 {
  font-weight: 400;
  font-size: 18px;
  pointer-events: none;
}
.chats li h3 span {
  display: block;
  font-size: 10px;
  color: #5c5c5c;
  pointer-events: none;
}
#root {
  display: flex;
}
.landing {
  flex-grow: 1;
  height: 100vh;
  float: right;
  position: relative;
  background-color: blanchedalmond;
}
.landing .card {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.landing img {
  width: 300px;
  margin: auto;
  display: block;
}
.landing .card {
  text-align: center;
}
.landing .card h2 {
  font-size: 40px;
}
.landing .card p {
  width: 40%;
  margin: auto;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  nav::before {
    content: "menu";
    width: 20px;
    font-size: 14px;
    height: 55px;
    border-radius: 0 5px 5px 0;
    background-color: black;
    color: white;
    display: block;
    position: absolute;
    top: 10px;
    left: 250px;
    z-index: 1000;
    writing-mode: vertical-lr;
    padding: 5px 0px;
    text-align: center;
  }
  nav {
    position: absolute;
    left: -250px;
    top: 0;
    z-index: 1000;
  }
}
